package vars

const (
	JsonHomeLight = `{"format":"raw","freq":38,"data":[...]}` # toggle home light signal
	JsonAirConOn  = `{"format":"raw","freq":38,"data":[...]}` # Power On air‐conditioner
	JsonAirConOff = `{"format":"raw","freq":38,"data":[...]}` # Power Off air‐conditioner
  JsonTVPower = `{"format":"raw","freq":38,"data":[...]}` # toggle TV Power
)

const (
	ClientKey = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" # your irkit client key
	DeviceID  = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" # your irkit device id
)
